<div id="change-password-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content my-primary-bg">
      <div class="modal-header">
        <h1 class="fs-3 fw-bold">Change Password</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <form action="" method="POST">
        <div class="modal-body">
          <div class="form-floating my-3">
            <input
              id="old-pass"
              type="password"
              name="oldPass"
              class="form-control"
              placeholder=""
            />
            <label for="old-pass" class="form-label text-secondary"
              >Old Password</label
            >
          </div>
          <div class="form-floating my-3">
            <input
              id="new-pass"
              type="password"
              name="newPass"
              class="form-control"
              placeholder=""
            />
            <label for="new-pass" class="form-label text-secondary"
              >New Password</label
            >
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger my-danger-btn"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <input type="submit" class="btn btn-warning" value="Update Password"></input>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  id="my-profile-info"
  class="container col-11 col-sm-8 col-lg-6 my-secondary-bg mt-5 rounded shadow-lg p-3"
>
  <h1 class="fs-3 fw-bold text-center py-4 border-bottom border-secondary">
    Your Profile
  </h1>

  <div class="py-4 mb-5 border-bottom border-secondary">
    <img
      id="user-profile"
      src="/imgs/logo.png"
      alt=""
      class="img-thumbnail d-block mx-auto rounded-circle"
    />
  </div>

  <form action="" method="POST" class="mb-3">
    <div class="form-floating my-3">
      <input
        type="text"
        id="username"
        name="name"
        class="form-control"
        placeholder=""
        value="<%= user.name %>"
      />
      <label for="username" class="form-label text-secondary">Username</label>
    </div>
    <div class="form-floating my-3">
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        placeholder=""
        value="<%= user.email %>"
      />
      <label for="email" class="form-label text-secondary">Email</label>
    </div>
    <div class="my-3">
      <button
        type="button"
        class="btn btn-lg btn-warning w-100"
        data-bs-toggle="modal"
        data-bs-target="#change-password-modal"
      >
        Change Password
      </button>
    </div>
    <input
      type="submit"
      value="Save"
      class="disabled btn btn-lg btn-primary fw-semibold w-100 mt-3"
    />
    <a
      href="/"
      class="btn btn-lg btn-danger my-danger-btn fw-semibold w-100 mt-3 d-none"
    >
      Cancel
    </a>
  </form>
</div>

<div class="container col-11 col-12 my-secondary-bg mt-5 rounded shadow-lg p-3">
  <h1 class="fs-3 fw-bold text-center py-4 mb-4 border-bottom border-secondary">
    Your Purchases
  </h1>

  <div class="container mt-5 mb-4 rounded shadow-lg">
    <form action="" method="POST" class="form">
      <div class="input-group">
        <input
          type="search"
          name="product"
          class="form-control form-control-lg w-50"
          placeholder="Search a Product"
        />
        <button id="search-icon" class="btn btn-secondary col-2 col-lg-1">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </form>
  </div>

  <div class="row gy-3" data-masonry='{"percentPosition": true }'>
    <% if(products.length > 0) { %> <% for(let i=0; i < products.length; i++) {
    %>
    <div class="col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <% if(products[i].image) { %>
        <img src="<%= products[i].image %>" alt="" class="card-image-top" />
        <% } else { %>
        <i class="fa fa-image fa-5x mt-5 text-center"></i>
        <% } %>
        <div class="card-body">
          <span class="p-2">
            <h2 class="card-title fw-bold fs-5 d-inline">
              <%= products[i].name %>
            </h2>
            <span
              class="card-title fw-bold small text-bg-secondary text-end badge"
              ><%= products[i].category %></span
            >
            <% if(products[i].onSale) { %>
            <span class="badge text-bg-success">On Sale</span>
            <% } %> <% if(products[i].outOfStock) { %>
            <span class="badge text-bg-danger">Out of Stock</span>
            <% } %> <% if(products[i].topRated) { %>
            <span class="badge text-bg-primary"
              >Top Rated <i class="ms-1 fa fa fa-trophy"></i>
            </span>
            <% } %> <% if(products[i].trending) { %>
            <span class="badge text-bg-dark"
              >Trending <i class="ms-1 fa fa-line-chart"></i>
            </span>
            <% } %>
          </span>
          <span
            class="w-100 text-secondary text-wrap fw-bold font-monospace fs-5 mt-3 d-inline-block"
            >$<%= products[i].price %></span
          >
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col ms-auto">
              <p class="card-text m-0">
                <% let wholeNumberRating = Math.floor(products[i].rating); %> <%
                let remainingRating = Math.floor(5 - products[i].rating); %> <%
                let fractionRating = (products[i].rating * 10) % 10; %> <%
                for(let j=0; j < wholeNumberRating; j++) { %>
                <i class="text-warning fa fa-star"></i>
                <% } %> <% if(fractionRating) { %>
                <i class="text-warning fa fa fa fa-star-half-o"></i>
                <% } %> <% for(let j=0; j < remainingRating; j++) { %>
                <i class="text-secondary fa fa-star-o"></i>
                <% } %>
              </p>
              <p class="card-text small m-0">
                <%= products[i].rating %> Ratings
              </p>
            </div>
            <div class="col">
              <% let isInCart = false; %> <% for(let j=0; j < cart.length; j++)
              { %> <% if(products[i]._id == cart[j]) { %> <% isInCart = true; %>
              <% } %> <% } %> <% if(!isInCart) { %>
              <a
                href="/products/addToCart/<%= products[i]._id %>"
                class="w-100 btn btn-warning"
              >
                <i class="fa fa-cart-plus"></i>
              </a>
              <% } else { %>
              <a
                href="/products/removeFromCart/<%= products[i]._id %>"
                class="w-100 btn btn-danger my-danger-btn"
              >
                <i class="fa fa-cart-arrow-down"></i>
              </a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %> <% } else { %>
    <h1 class="fs-5 my-5 text-center">Your purchases will show here</h1>
    <% } %>
  </div>
</div>

<div id="bottom-gap"></div>
