<div class="col-md-6 col-lg-6 col-xl-3 my-5 mx-auto">
  <div class="card border-1">
    <% if(product.imageUrl) { %>
    <img src="<%= product.imageUrl %>" alt="" class="card-image-top" />
    <% } else { %>
    <i class="fa fa-image fa-5x mt-5 text-center"></i>
    <% } %>
    <div class="card-body">
      <span class="p-2">
        <h2 class="card-title fw-bold fs-5 d-inline"><%= product.name %></h2>
        <span class="card-title fw-bold small text-bg-secondary text-end badge"
          ><%= product.category %></span
        >
        <% if(product.isFeatured) { %>
        <span class="badge text-bg-primary"
          >Featured <i class="ms-1 fa fa fa-trophy"></i>
        </span>
        <% } %>
      </span>
      <span
        class="w-100 text-secondary text-wrap fw-bold font-monospace fs-5 mt-3 d-inline-block"
        >$<%= product.price %></span
      >
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col ms-auto">
          <p class="card-text m-0">
            <% let wholeNumberRating = Math.floor(product.rating); %> <% let
            remainingRating = Math.floor(5 - product.rating); %> <% let
            fractionRating = (product.rating * 10) % 10; %> <% for(let j=0; j <
            wholeNumberRating; j++) { %>
            <i class="text-warning fa fa-star"></i>
            <% } %> <% if(fractionRating) { %>
            <i class="text-warning fa fa fa fa-star-half-o"></i>
            <% } %> <% for(let j=0; j < remainingRating; j++) { %>
            <i class="text-secondary fa fa-star-o"></i>
            <% } %>
          </p>
          <p class="card-text small m-0"><%= product.totalRatings %> Ratings</p>
        </div>
      </div>
    </div>
  </div>
</div>
